{{define "content"}}
<html>
    <body bakground="#ffffff" color="#000000" link="#0000FF" vlink="#990099" alink="#FF0000">
        <basefont face="Arial,Helvetica,sans-serif" size="3" color="#000000"></basefont>

        <h1>Reset your password</h1>

        <p>Dear {{.Data.Username}},</p>

        <p>
        Somebody (hopefully you) has requested a password change to your account. To set a new
        password, please visit the link below. If you did not request this password reset, please
        notify support.
        </p>

        <p>
        <a href="{{.Data.URL}}" target="_blank">{{.Data.URL}}</a>
        </p>

        <p>
        This is an automated e-mail; do not reply to this message.
        </p>
    </body>
</html>
{{end}}